= search_form_for @searcher do |f|
  = f.standard_fields
  = f.error :base
  = f.input :partner_code
  = f.input :name
  = f.input :rmtr_code
  = f.input :bene_account_no
  = f.input :bene_account_ifsc
  = f.action_buttons
= "Total Count: #{@records.count}"
= will_paginate @records, :page_links => true

- if @searcher.errors.present?
  :javascript
    $('.collapsible-content').show();
