= search_form_for @searcher, {defaults: local_assigns[:defaults]} do |f|
  = f.standard_fields
  = f.input :partner_code
  = f.action_buttons
= "Total Count: #{@records.count}"
= will_paginate @records, :page_links => true