<%= simple_form_for @inw_beneficiaries_rule, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "inw_beneficiaries_rule_form"} do |f| %>
  <div class="control-group">
    <%= f.label ' ' %>
    <div id="msg-error">
      <%= error_message_for(@inw_beneficiaries_rule, :base, :prepend_text => "") %>
    </div>
  </div>
  <div class="form-main" style="width:100%">
    <%= f.hidden_field :lock_version %>
    <%= f.hidden_field :approved_id %>
    <%= f.hidden_field :approved_version %>
    <div class="control-group">
      <%= f.label :beneficiaries, "*Beneficiaries", :class => 'control-label' %>
      <%= f.text_area :beneficiaries, :style => 'height:150px', :placeholder => "Enter the keywords " %>
      <div id="msg-error">
        <%= error_message_for(@inw_beneficiaries_rule, :beneficiaries, :prepend_text => "") %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_partner' %>
    <%= link_to :Cancel,'/inw_beneficiaries_rules', :name => 'cancel', :class=>"cancel btn" %>
  </div>
<% end %>
