<br/>
<%= link_to 'New Beneficiaries Rules', new_inw_beneficiaries_rule_path %>
<br/>
<br/>
<h1>Listing Inw Beneficiaries Rules</h1>
<br/>
<%= "Total Count: #{@inw_beneficiaries_rule}" %>
<br/>
<%= will_paginate @inw_beneficiaries_rules, :page_links => true %>
<br/>
<table class="table table-bordered table-striped table-hover">
  <div class="thead">
    <th style="text-align:left; background-color: lightblue;"></th>
    <th style="text-align:left; background-color: lightblue;"></th>
    <th style="text-align:left; background-color: lightblue;">
      Beneficiaries
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Created by
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Updated by
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Created At
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Updated At
    </th>
  </div>
  <div class="tbody">
    <% @inw_beneficiaries_rules.each do |inw_beneficiaries_rule| %>
      <tr>
        <td style="text-align:left;">
          <%= link_to 'Show', inw_beneficiaries_rule %>
        </td>
        <td style="text-align:left;">
          <%= link_to 'Edit', inw_beneficiaries_rule_path(inw_beneficiaries_rule) %>
        </td>
        <td style="text-align:left;">
          <%= inw_beneficiaries_rule.beneficiaries %>
        </td>
      
        <td style="text-align:left;">
          <%= inw_beneficiaries_rule.created_user.try(:username) %>
        </td>
        <td style="text-align:left;">
          <%= inw_beneficiaries_rule.updated_user.try(:username) %>
        </td>
        <td style="text-align:left;">
          <%= inw_beneficiaries_rule.created_at.strftime("%d/%m/%Y %I:%M%p") %>
        </td>
        <td style="text-align:left;">
          <%= inw_beneficiaries_rule.updated_at.strftime("%d/%m/%Y %I:%M%p") %>
        </td>
      </tr>
    <% end %>
  </div>
</table>
